<template>
  <v-container fluid class="py-10" height="100vh">
    <v-row class="justify-center align-center">
      <v-col md="7">
        <v-card class="pa-8 text-center">
          <div class="mb-4">
          <!-- <v-img src="@/assets/images/happy.svg" width="250" class="ma-auto"></v-img> -->
          <Checkmark :type="'success'"></Checkmark>
          </div> 
          <h3 class="title">Thank You!</h3>
          <p class="body-1">Thanks for signing up. You would receive an SMS shortly to continue your registration. Please note that if you do not receive an SMS shortly, kindly follow this alternative link below to continue 
          </p>
          <v-btn color="primary" :to="{name: 'Login'}" depressed class="text-capitalize">Sign In</v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts" src="./Thanks.vue.ts"></script>
<style lang="scss" scoped>

</style>
