<template>
  <v-container fluid>
    <section>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col md="6">
                <!-- <v-row align="center" justify="center" v-if="!isVerified">
                  <v-col md="5" sm="7" xs="12" class="text-center">
                    <v-progress-circular indeterminate size="88"></v-progress-circular>
                  </v-col>
                </v-row> -->
                <spinner v-if="!isVerified"></spinner>

                <v-row v-if="isSuccess" justify="center">
                  <v-col md="5" sm="7" xs="12">
                    <Checkmark :type="'success'"></Checkmark>
                    <p class="title">Your email has been verified successfully!</p>
                    <div class="text-center">
                      <v-btn class="ma-2" color="primary" :to="{name: 'Login'}" depressed>Login</v-btn>
                      <v-btn class="ma-2" outlined color="secondary" :to="{name: 'Home'}">Go Home</v-btn>
                    </div>
                  </v-col>
                </v-row>

                <v-row v-if="hasError" justify="center">
                  <v-col md="5" sm="7" xs="12">
                    <Checkmark :type="'failed'"></Checkmark>
                    <p class="title">{{ emailMsg }}</p>
                    <div class="text-center">
                      <v-btn class="ma-2" color="primary" :to="{name: 'Login'}" depressed>Login</v-btn>
                      <v-btn class="ma-2" outlined color="secondary" :to="{name: 'Home'}">Go Home</v-btn>
                    </div>
                  </v-col>
                </v-row>

            </v-col>
        </v-row>
      </v-container>
    </section>
  </v-container>
</template>
<script lang="ts" src="./UserVerifyEmail.vue.ts"></script>
