<template>
  <div>
    <v-app-bar app color="white" class="px-md-12">
      <router-link :to="{ name: 'Home' }">
        <img src="@/assets/images/logo-white.png" width="100" class />
      </router-link>
      <v-spacer></v-spacer>

      <v-btn
        text
        class="hidden-xs-only white--text"
        exact
        active-class="white--text"
        color="grey"
        small
        @click="$vuetify.goTo('#home-section')"
        >Home</v-btn
      >

      <v-btn
        text
        class="hidden-xs-only white--text"
        exact
        active-class="white--text"
        color="grey"
        small
        @click="$vuetify.goTo('#product_story')"
        >Product Story</v-btn
      >

      <v-btn
        text
        class="hidden-xs-only white--text"
        exact
        active-class="white--text"
        color="grey"
        small
        @click="$vuetify.goTo('#campaign_features')"
        >Features</v-btn
      >

      <v-btn
        text
        class="hidden-xs-only white--text"
        exact
        active-class="white--text"
        color="grey"
        small
        @click="$vuetify.goTo('#campaign_product')"
        >Gallery</v-btn
      >

      <v-btn
        text
        class="hidden-xs-only white--text"
        exact
        active-class="white--text"
        color="grey"
        small
        @click="$vuetify.goTo('#testimonial')"
        >Testimonials</v-btn
      >
    </v-app-bar>
    <section id="home-section">
      <v-carousel
        cycle
        height="400"
        hide-delimiter-background
        show-arrows-on-hover
      >
        <v-carousel-item
          v-for="(slide, i) in slides"
          :key="i"
          :src="'https://picsum.photos/seed/picsum/1000/400'"
        >
          <v-overlay absolute>
            <v-row class="fill-height" align="center" justify="center">
              <v-col md="7" class="text-center">
                <h2 class="display-1">How to offer</h2>
                <p class="body-1">
                  In publishing and graphic design, Lorem ipsum is a placeholder
                  text commonly used to demonstrate the visual form of a
                  document or a typeface without relying on meaningful content.
                </p>
                <v-btn
                  color="primary"
                  depressed
                  rounded
                  large
                  class="text-capitalize"
                  @click="AcceptOfferConfirm()"
                  >Accept Offer</v-btn
                >
              </v-col>
            </v-row>
          </v-overlay>
        </v-carousel-item>
      </v-carousel>
    </section>

    <v-container class="py-12" id="product_story">
      <v-row>
        <v-col md="6">
          <v-img src="@/assets/images/product_story.svg"></v-img>
        </v-col>
        <v-col md="6">
          <h1 class="text-h4 font-weight-bold">Product Story</h1>
          <div>
            <div class="d-flex flex-row justify-space-between align-center">
              <div>
                <v-icon size="64" color="primary"
                  >mdi-chevron-right-circle</v-icon
                >
              </div>
              <div class="text-start ml-4">
                <p class="body-1 font-weight-light text-start">
                  {{ campaign }}
                  In publishing and graphic design, Lorem ipsum is a placeholder
                  text commonly used to demonstrate the visual form of a
                  document or a typeface without relying on meaningful content.
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="d-flex flex-row justify-space-between align-center">
              <div>
                <v-icon size="64" color="primary"
                  >mdi-chevron-right-circle</v-icon
                >
              </div>
              <div class="text-start ml-4">
                <p class="body-1 font-weight-light text-start">
                  In publishing and graphic design, Lorem ipsum is a placeholder
                  text commonly used to demonstrate the visual form of a
                  document or a typeface without relying on meaningful content.
                </p>
              </div>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <section style="background: #f5f5f5">
      <v-container class="py-12" id="campaign_features">
        <v-row>
          <v-col md="12">
            <h1 class="text-center mb-8 text-h4 font-weight-bold">
              Campaign Features
            </h1>
            <v-row>
              <v-col md="4">
                <v-card class="pa-5" flat>
                  <div
                    class="d-flex flex-row justify-content-start align-start"
                  >
                    <div>
                      <v-icon size="36" color="primary"
                        >mdi-chevron-right-circle</v-icon
                      >
                    </div>
                    <div class="text-start ml-1">
                      <p class="font-weight-bold text-start ma-0 body-1">
                        In publishing and graphic design
                      </p>
                      <p class="body-1 font-weight-light text-start mt-2 mb-0">
                        In publishing and graphic design, Lorem ipsum is a
                        placeholder text commonly used to demonstrate the visual
                        form of a document or a typeface without relying on
                        meaningful content.
                      </p>
                    </div>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section>
      <v-container class="py-12" id="campaign_product">
        <v-row>
          <v-col md="12">
            <h1 class="text-center mb-8 text-h4 font-weight-bold">
              Campaign Product
            </h1>

            <v-row>
              <v-col v-for="n in 9" :key="n" class="d-flex child-flex" md="4">
                <v-img
                  :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
                  :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
                  aspect-ratio="1"
                  class="grey lighten-2"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular
                        indeterminate
                        color="grey lighten-5"
                      ></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section>
      <v-container class="py-12" id="testimonial">
        <v-row>
          <v-col md="12">
            <h1 class="text-center mb-8 text-h4 font-weight-bold">
              Testimonials
            </h1>

            <v-row>
              <v-col md="4">
                <v-card class="py-8 px-4">
                  <div
                    class="d-flex flex-row justify-content-start align-start"
                  >
                    <div>
                      <v-avatar color="primary">
                        <v-icon size="36" color="white">mdi-account</v-icon>
                      </v-avatar>
                    </div>
                    <div class="text-start ml-3">
                      <p class="font-weight-bold text-start ma-0 body-1">
                        In publishing and graphic design
                      </p>
                      <blockquote
                        class="body-1 font-weight-light text-start mt-2 mb-0"
                      >
                        In publishing and graphic design, Lorem ipsum is a
                        placeholder text commonly used to demonstrate the visual
                        form of a document or a typeface without relying on
                        meaningful content.
                      </blockquote>
                    </div>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <div v-if="isLoading">
      <v-overlay>
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </div>


<v-row justify="center">
    <v-dialog
      v-model="dialog"
      hide-overlay
      transition="dialog-bottom-transition"
      persistent
      max-width="290"
    > 
          <v-card flat class="pa-3">
      <template v-if="(dialogType === 'ACCEPT')">
           <v-card-text>
        <p class="body-1">Are you sure you want to accept this offer?</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            text
            @click="dialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="primary"
            small
            depressed
            @click="AcceptOffer()"
          >
            Accept Offer
          </v-btn>
        </v-card-actions>
      </template>
      <template v-if="(dialogType === 'LOGIN')">
           <v-card-text>
        <p class="body-1">You must login to accept an offer. Hurry! Login and accept this offer</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            text
            class="text-capitalize"
            @click="dialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="primary"
            small 
            depressed
            class="text-capitalize"
            :to="{name: 'Login'}"
          >
            Login & Accept
          </v-btn>
        </v-card-actions>
      </template>
    </v-card>
    
    </v-dialog>
    </v-row>

  </div>
</template>
<script lang="ts" src="./Offer.vue.ts"></script>
<style lang="scss" scoped>
.wrap-text {
  -webkit-line-clamp: unset !important;
}
</style>
