<template>
  <v-container>
    <v-row class="justify-center">
      <v-col md="8" class="text-left">
        <h2 style="text-align: left">
          <span style="color: #f5a72b"><strong>Terms of Service</strong></span>
        </h2>
        <p style="text-align: left">
          This website is a proprietary software application known as
          HAZINA&trade;&rdquo; (THE &ldquo;SOFTWARE&rdquo; or THE
          &ldquo;SITE&rdquo;) AS PART OF A SERVICE (THE &ldquo;SAMPLING
          PROGRAM&rdquo;) WHICH MAY ENABLE YOU, AS A USER (&ldquo;YOU&rdquo;),
          TO SEND OR RECEIVE SAMPLES, GIFT CARDS, COUPONS, OR ONLINE COUPON
          CODES FROM, AND APPLICABLE TO PRODUCTS AND/OR SERVICES PROVIDED BY,
          OUR PARTNER MERCHANTS/BRANDS (&ldquo;PARTNERS&rdquo;). The Software
          owned by SMADIS LLC, and its corporate affiliates (collectively,
          referred to in these terms as &ldquo;Hazina&rdquo;). &nbsp;We provide
          our Site to you subject to these Terms and Conditions of Use
          ("Terms"). By accessing and using this Site, you are agreeing that you
          have read and understand and agree to comply with and be bound by the
          Terms as well as any specifically posted guidelines or rules
          applicable to particular services or posted to our affiliates&rsquo;
          Websites. &nbsp;If you do not accept the terms, please do not use the
          Site. &nbsp;If you are accessing and using the Site on behalf of your
          employer or a company with which you are affiliated, by your access
          and use of the Site, such entity will also be bound by the Terms.
          &nbsp;HAZINA RESERVES THE RIGHT TO CHANGE THE TERMS AT ANY TIME BY
          POSTING CHANGES ON-LINE. &nbsp;YOU ARE RESPONSIBLE FOR REVIEWING
          INFORMATION POSTED ON-LINE TO OBTAIN TIMELY NOTICE OF SUCH CHANGES.
          &nbsp;YOUR CONTINUED VISITS OR USE OF THE SERVICES THROUGH THE SITE
          CONSTITUTES YOUR ACCEPTANCE OF THESE TERMS, AS MODIFIED BY ANY POSTED
          CHANGES. &nbsp;Such change(s) will be effective upon posting and the
          effective date will be updated to let you know that they have been
          updated. &nbsp;We reserve the right to correct any errors,
          inaccuracies or omissions.
        </p>
        <p style="text-align: left">
          You agree that all information and content you provide us or share
          through this Site is governed by our Privacy Policy located at
          &nbsp;<a href="https://gethazina.com/privacy"
            ><u
              ><span style="color: #f5a72b"
                >https://gethazina.com/privacy</span
              ></u
            ></a
          >&nbsp;and you consent to all actions we take with respect to the
          information consistent with our Privacy Policy, which is incorporated
          and made a part of these Terms.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>ACCESS</strong></p>
        <p style="text-align: left">
          In order to access and use the Software and participate in the
          Sampling Program You must:
        </p>
        <ul style="text-align: left">
          <li>
            access the Software by visiting gethazina.com or a Site to
            participate in a public Sampling Program or accepting an invitation
            to participate in a private Sampling Program;
          </li>
          <li>
            create a Hazina account, or Connect with Hazina via Social media by
            accepting the relevant Social media Connect authorizations;
          </li>
          <li>
            complete Your account profile by answering the questions asked
            during account creation with accurate and complete information;
          </li>
          <li>
            accept and abide by these Terms, our Privacy Policy and our
            Partner&rsquo;s terms and conditions detailed on the Sampling
            Program page;
          </li>
          <li>update Your account profile immediately upon any changes;</li>
          <li>
            not use false identities or impersonate any other person or entity
            or use a name that You are not authorized to use; and
          </li>
          <li>
            agree to only share Your friends&rsquo; information with their prior
            consent.
          </li>
        </ul>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>RESTRICTIONS ON USE</strong></p>
        <p style="text-align: left">In using the Software, you shall not:</p>
        <ul style="text-align: left">
          <li>
            copy any content from Hazina unless expressly permitted to do so
            herein;
          </li>
          <li>
            upload, post, email, transmit or otherwise make available any
            material that:
            <ul>
              <li>
                you do not have a right to make available under any law or under
                a contractual relationship; infringes any patent, trademark,
                trade secret, copyright or other rights;
              </li>
              <li>
                is or contains unsolicited or unauthorized advertising or
                solicitation;
              </li>
              <li>
                contains software viruses or any other computer code, ﬁles or
                programs designed to interrupt, destroy or limit the
                functionality of any computer software or hardware or
                telecommunications equipment or data or the Site; or contains
                any falsehoods or misrepresentations or create an impression
                that you or ought to know is incorrect, misleading, or
                deceptive, or any in any way harmful;
              </li>
            </ul>
          </li>
          <li>
            impersonate any person or entity or misrepresent an afﬁliation with
            a person or entity;
          </li>
          <li>
            interfere with or disrupt the Software or Site servers or networks,
            or disobey any requirements, procedures, policies or regulations of
            networks connected to the Software or Site or probe, scan, or test
            the vulnerability of any system or network or breach or circumvent
            any security or authentication measures;
          </li>
          <li>
            intentionally or unintentionally violate any applicable local,
            state, national or international law or regulation;
          </li>
          <li>
            collect or store personal data about other users or share or publish
            any private information of someone, like their address, phone
            number, email address, and similar information without their
            explicit written permission;
          </li>
          <li>
            license, sell, rent, lease, transfer, assign, distribute, host, or
            otherwise commercially exploit the Software or Hazina; or
          </li>
          <li>
            modify, translate, make derivative works of, disassemble, decompile,
            reverse compile or reverse engineer any part of Hazina or any
            software provided as part of the Software or Site, except to the
            extent the foregoing restrictions are expressly prohibited by
            applicable law.
          </li>
        </ul>
        <p style="text-align: left">
          We reserve the right to investigate and prosecute violations of any of
          the above and/or involve and cooperate with law enforcement
          authorities in prosecuting users who violate these Terms.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left">
          <strong>INTELLECTUAL PROPERTY VIOLATIONS</strong>
        </p>
        <p style="text-align: left">
          We do not permit intellectual property-infringing activities and will
          move to remove any content and/or stem any activity we deem infringing
          on another&rsquo;s intellectual property rights. If you are an
          intellectual property rights holder or an agent thereof and believe
          your rights are being violated, you may contact us via
          <span style="color: #ff6600"
            ><a style="color: #f5a72b" href="mailto:admin@hazina.ng"
              >admin@hazina.ng</a
            ></span
          >
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>END USER LICENSE</strong></p>
        <p style="text-align: left">
          The Software and the information and materials that it contains and/or
          displays, are the property of Hazina and its Partners or licensors,
          and are protected from unauthorized copying and dissemination by
          copyright law, trademark law, and other intellectual property laws.
          Subject to these Terms, we grant you a non-transferable,
          non-exclusive, revocable license to use the Software. Except as
          expressly set forth herein, no license is granted to You for any other
          purpose, and any other use of the Software or the Sampling Program by
          You shall constitute a material breach of this Agreement. The Software
          is licensed to you and not sold. Nothing in these Terms gives you a
          right to use our names, trade-marks, logos, domain names, and other
          distinctive brand features without our prior written consent. You
          shall not attempt to override or circumvent any of the usage rules or
          restrictions on the Software, the Sites or Social media. Any future
          release, update, or other addition to functionality of the Software
          shall be subject to these Terms.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>FEEDBACK</strong></p>
        <p style="text-align: left">
          If you provide us with any suggestions, comments or other feedback
          relating to any aspect of Hazina (&ldquo;Feedback&rdquo;), we may
          freely use such Feedback or in any other products or services without
          remuneration to you.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>DISCLAIMER</strong></p>
        <p style="text-align: left">
          THE SOFTWARE, SAMPLING PROGRAM AND ALL ITS CONTENT ARE PROVIDED "AS
          IS" AND "AS AVAILABLE" WITHOUT ANY WARRANTY OR REPRESENTATION OF ANY
          KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE. WITHOUT
          LIMITING THE FOREGOING, HAZINA SPECIFICALLY DISCLAIMS ALL WARRANTIES
          AND REPRESENTATIONS AS TO THE COMPLETENESS, ACCURACY, SECURITY,
          RELIABILITY, QUALITY OR AVAILABILITY OF THE SITE AND ITS CONTENT AND
          MAKES NO WARRANTY THAT THE SITE IS FREE OF ERRORS, VIRUSES OR OTHER
          HARMFUL COMPONENTS. &nbsp;HAZINA FURTHER DISCLAIMS ALL WARRANTIES AND
          REPRESENTATIONS AS THE PUBLISHER OF THE SITE, INCLUDING WITHOUT
          LIMITATION ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
          PURPOSE, TITLE, NON-INFRINGEMENT OF THIRD PARTY RIGHTS OR THAT ANY OF
          THE CONTENT ON THE SITE IS LEGAL IN YOUR COUNTRY OF USE. &nbsp;CONTENT
          AVAILABLE ON THE SITE FROM HAZINA IS FOR INFORMATIONAL PURPOSES AND
          HAZINA SHALL NOT BE DEEMED TO BE PROVIDING ADVICE AND SHALL NOT BE
          LIABLE FOR ANY ACTION YOU CHOOSE TO TAKE OR NOT TAKE BASED ON THE
          CONTENT OF THE SITE. &nbsp;NO ORAL ADVICE OR WRITTEN INFORMATION GIVEN
          BY HAZINA, NOR ANY OF ITS AFFILIATES, EMPLOYEES, OFFICERS, DIRECTORS,
          AGENTS, OR THE LIKE, INCLUDING, WITHOUT LIMITATION, AS INCLUDED IN THE
          SITE&rsquo;S CONTENT SHALL CREATE A WARRANTY. &nbsp;IN ADDITION,
          HAZINA MAKES NO REPRESENTATION OR WARRANTY CONCERNING THE CONTENT
          AVAILABLE DIRECTLY OR INDIRECTLY THROUGH THE SITE FROM A USER OR OTHER
          THIRD PARTY, INCLUDING AS MAY BE ACCESSED THROUGH LINKS ON OUR SITE,
          AND ANY DISPUTE BETWEEN USERS OR A USER AND A THIRD PARTY SHALL BE
          RESOLVED SOLELY BY SUCH PARTIES AND HAZINA DISCLAIMS ALL LIABLITY IN
          CONNECTION THEREWITH. &nbsp;YOUR USE AND RELIANCE ON THE SITE AND ITS
          CONTENT ARE AT YOUR OWN RISK. THE FOREGOING DOES NOT AFFECT ANY
          WARRANTIES WHICH CANNOT BE EXCLUDED OR ARE LIMITED UNDER APPLICABLE
          LAW.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>LIMITATION OF LIABILITY</strong></p>
        <p style="text-align: left">
          IF YOU ARE DISSATISFIED WITH THIS SITE, OR ANY CONTENT, MATERIALS,
          PRODUCTS OR SERVICES AVAILABLE DIRECTLY OR INDIRECTLY THROUGH THIS
          SITE, OR ANY OF THE SITE&rsquo;S TERMS, YOUR SOLE AND EXCLUSIVE REMEDY
          IS TO DISCONTINUE USE OF THE SITE. &nbsp;IN NO EVENT WILL ANY OF
          HAZINA OR ANY OF ITS AFFILIATES OR OTHER PARTIES INVOLVED IN CREATING
          AND DELIVERING THE SITE, OR THE SERVICE OR ANY PRODUCTS PROVIDED AS A
          PART OF, OR OTHERWISE IN CONNECTION WITH, THE SOFTWARE, BE LIABLE FOR
          DAMAGES OF ANY KIND, INCLUDING ANY COMPENSATORY, DIRECT, INDIRECT,
          SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES, LOSS OF DATA,
          USE, BUSINESS, INCOME OR PROFIT, LOSS OF OR DAMAGE TO PROPERTY OR
          PERSON, OR ANY CLAIMS OF THIRD PARTIES ARISING FROM USE OF THE SITE,
          REGARDLESS OF THE LEGAL THEORY ON WHICH THE CLAIM IS BASED, AND EVEN
          IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, INCLUDING, WITHOUT
          LIMITATION, ANY DAMAGES ARISING OUT OF RELIANCE BY THE USER ON
          INFORMATION OBTAINED FROM ARCADE BEAUTY OR THE SITE, INCLUDING,
          WITHOUT LIMITATION, USER CONTENT OR THIRD PARTY LINKS, OR FOR DAMAGES
          WHICH RESULT FROM ANY MISTAKE, OMISSION, VIRUS, DELAY IN OPERATION,
          INTERRUPTION OF SERVICE, OR FAILURE OF PERFORMANCE, WHETHER OR NOT
          RESULTING FROM AN ACT OF GOD, COMMUNICATIONS FAILURE, THEFT, OR
          UNAUTHORIZED ACCESS TO HAZINA RECORDS OR THE SITE.
        </p>
        <p style="text-align: left">
          Some jurisdictions do not allow the exclusion or limitation of
          liability for consequential or incidental damages. &nbsp;Accordingly,
          certain of the above exclusions may not apply to you. However, in such
          states, Hazina&rsquo;s liability is limited to the fullest extent
          permitted by law.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>INDEMNIFICATION </strong></p>
        <p style="text-align: left">
          YOU AGREE TO INDEMNIFY AND HOLD HAZINA, ITS PARENTS, DIVISIONS,
          SUBSIDIARIES, AFFILIATES, OFFICERS, PARTNERS, EMPLOYEES, AGENTS,
          SERVICE PROVIDERS IN CONNECTION WITH THE SITE AND BUSINESS PARTNERS,
          HARMLESS FROM ANY CLAIM, DEMAND, LOSS, DAMAGE, LIABILITY, JUDGMENT,
          COST AND EXPENSE, INCLUDING REASONABLE ATTORNEYS' FEES, ARISING OUT OF
          OR RELATED TO YOUR USE OF THE SOFTWARE AND ITS CONTENT, THE VIOLATION
          OF THE TERMS AND CONDITIONS OF USE BY YOU, OR THE INFRINGEMENT BY YOU,
          OR ANY THIRD PARTY USING YOUR ACCOUNT, OF ANY INTELLECTUAL PROPERTY OR
          OTHER RIGHT OF ANY PERSON OR ENTITY.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>TERMINATION</strong></p>
        <p style="text-align: left">
          We may, under certain circumstances and without prior notice,
          immediately terminate your ability to access and use the Software and
          the Sampling Program. Cause for such termination shall include, but
          not be limited to, (a) breaches or violations of these Terms or the
          Privacy Policy (b) requests by law enforcement or other government
          agencies, (c) a request by you, (d) discontinuance or material
          modiﬁcation to the gethazina.com site or the Software (or any part
          thereof), and/or (e) unexpected technical, security or legal issues or
          problems. Termination of your access to the gethazina.com site or the
          Software may also include removal of some or all of the materials
          uploaded by you to the gethazina.com site. You acknowledge and agree
          that all terminations may be made by us in our sole discretion and
          that we shall not be liable to you or any third-party for any
          termination of your access to the gethazina.com site or the Software
          or for the removal of any of the materials uploaded by you to the
          gethazina.com site. Any termination of these Terms by us shall be in
          addition to any and all other rights and remedies that we may have.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left">
          <strong>AVAILABILITY &amp; UPDATES</strong>
        </p>
        <p style="text-align: left">
          Hazina may be unavailable from time to time due to maintenance or
          malfunction of computer or network equipment or for other reasons. We
          may periodically add or update the information and materials on the
          Site or the Software without notice.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>THIRD PARTY LINKS</strong></p>
        <p style="text-align: left">
          The Software may contain, and the Sampling Program or third parties
          may provide, advertisements and promotions offered by Hazina and other
          third parties and links to other web sites or resources. You
          acknowledge and agree that Hazina is not responsible for the
          availability of such external websites or resources, and does not
          endorse and is not responsible or liable for any content, information,
          statements, advertising, goods or services, or other materials on or
          available from such websites or resources. Your correspondence or
          business dealings with, or participation in promotions of, third
          parties found in or through gethazina.com, including payment and
          delivery of related goods or services, and any other terms,
          conditions, warranties or representations associated with such
          dealings, are solely between you and such third party. You further
          acknowledge and agree that Hazina shall not be responsible or liable,
          directly or indirectly, for any damage or loss caused or alleged to be
          caused by or in connection with the use of, or reliance upon, any such
          content, information, statements, advertising, goods or services or
          other materials available on or through any such website or resource.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>SECURITY</strong></p>
        <p style="text-align: left">
          Information sent or received over the Internet is generally unsecure
          and we cannot and do not make any representation or warranty
          concerning security of any communication to or from Hazina or any
          representation or warranty regarding the interception by third parties
          of personal or other information. All personal data that you provide
          to us in connection with Hazina is collected, stored, used and
          disclosed in accordance with our Privacy Policy. In addition, in
          common with most online services, we use &ldquo;cookies&rdquo; and
          Google Analytics to help us understand how people are using Hazina, so
          that we can continue to improve the service we offer. For more general
          information on cookies, please read "<span style="color: #f5a72b"
            ><a
              style="color: #ff6600"
              href="https://www.cookieconsent.com/what-are-cookies/"
              ><u>What Are Cookies</u></a
            ></span
          >".
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left">
          <strong>MERCHANTS/BUSINESS PARTNERS</strong>
        </p>
        <p style="text-align: left">
          Hazina does not have any control over our Partners, and is not and
          cannot be responsible for their products, services, content, operation
          or use, with regard to any Hazina content or any other content. Hazina
          does not give any representation, warranty or endorsement, express or
          implied, with respect to the legality, accuracy, quality or
          authenticity of content, information, products, or services provided
          by Partners.
        </p>
        <p style="text-align: left">
          Partners may have their own terms of use and/or privacy policies, and
          may have different practices and requirements to those operated by
          Hazina. You are solely responsible for reviewing any terms of use,
          Privacy Policy or other terms.
        </p>
        <p style="text-align: left">
          Hazina disclaims any and all responsibility or liability for any harm
          resulting from your use of Partner products and services, and you
          hereby irrevocably waive any claim against Hazina with respect to the
          content or operation of any Partner product or service.
        </p>
        <p style="text-align: left">
          You acknowledge that is entirely the responsibility of, and at the
          discretion of Partners, and not Hazina, to: (i) provide and transfer
          samples, gift cards, and online coupon codes; and (ii) determine and
          honor the value and validity of any samples, gift cards, and online
          coupon codes.
        </p>
        <p style="text-align: left">
          You acknowledge that you shall not attempt to reproduce, sell, or
          otherwise transfer Partner samples, gift cards, or online coupon codes
          in any manner not authorized by both Partners and Hazina in writing.
        </p>
        <p style="text-align: left">
          <strong>BUSINESS OR ASSET TRANSFER OR SALE</strong>
        </p>
        <p style="text-align: left">
          Hazina may be sold, might sell or buy businesses or assets of
          businesses, or Hazina might merge with another business. Normally, in
          the instance such transactions, user information is one of the
          transferred business assets. In the event that Hazina, a line of
          business of Hazina, or substantially all the assets of Hazina are
          transferred as part of such a transaction, your information may well
          be one of the transferred assets. Hazina will make reasonable effort
          to provide notice on Hazina and to notify you via email to the most
          recent email address that you have provided to Hazina of any such
          change in ownership or control of your Personal Information.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>GENERAL</strong></p>
        <p style="text-align: left">
          These Terms, in conjunction with our Privacy Policy, constitute the
          entire agreement between the parties relating to Hazina. If any part
          of these Terms is held to be unlawful, void, or unenforceable, that
          part shall be deemed severed and this shall not affect the validity
          and enforceability of the remaining provisions. Our failure to
          exercise or enforce any right or provision under these Terms shall not
          constitute a waiver of such right or provision. Any waiver of any
          right or provision by us must be in writing and shall only apply to
          the specific instance, identified in such writing. You may not assign
          the Terms or any rights or licenses granted hereunder, whether
          voluntarily, by operation of law, or otherwise, without our prior
          written consent, however, this agreement and the rights granted and
          obligations undertaken hereunder may be transferred, assigned, or
          delegated in any manner by Hazina.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>CONTACT</strong></p>
        <p style="text-align: left">
          If you have any questions about these Terms or if you wish to make a
          comment or complaint regarding Hazina, please contact us at:
          <span style="color: #ff6600"
            ><a style="color: #f5a72b" href="mailto:admin@hazina.ng"
              >admin@hazina.ng</a
            ></span
          >
        </p>
        <p style="text-align: left">
          <strong>Last Updated: May 6, 2020</strong>
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts" src="./Terms.vue.ts"></script>
<style lang="scss" scoped>
</style>
