<template>
  <v-container class="py-10" height="100vh">
    <v-row class="justify-center align-center">
      <v-col md="4" class="text-center" id="SendCodeSms">
        <v-img src="@/assets/mobile-security.svg" width="100" class="ma-auto"></v-img>
        <h3 class="title-1 text-center mb-1">Verify your phone number</h3>
        <div class="mt-2">
          <vue-tel-input-vuetify
            v-model="phone"
            type="password"
            color="primary"
            label="Phone Number"
            solo
            flat
            :error-messages="phoneErrors"
            @input="$v.phone.$touch()"
            @blur="$v.phone.$touch()"
            mode="international"
            :preferredCountries="topCountries"
            :onlyCountries="onlyCountries"
          ></vue-tel-input-vuetify>
        </div>
        <v-btn
          color="primary"
          class="white--text text-capitalize mt-3"
          depressed
          rounded
          large
          block
          :loading="isResending"
          :disabled="SendCodeSmsSent"
          @click="SendCodeSms"
          >Send Code</v-btn
        >
      </v-col>

      <v-col md="4" class="text-center appHidden" id="verifyCodeFrame">
        <v-img src="@/assets/password.svg" width="60" class="ma-auto mb-3"></v-img>
        <h3 class="title-1 text-center mb-1">Verify your number</h3>
        <p style="font-size: 14px; margin: 0">
          Please type the verification code sent to your number
        </p>
        <div class="mt-2 mb-0">
          <v-text-field
            v-model="code"
            type="number"
            placeholder="Enter your 6 digits pin"
            solo
            flat
            background-color="#f5f5f5"
            autofocus
            hide-details
            class="text-center ma-0"
          ></v-text-field>
        </div>
        <!-- <div class="d-flex justify-center mb-4"> -->
        <p
          style="
            font-size: 16px;
            font-weight: normal;
          "
          id="smsCodeTimer"
          class="primary--text mt-0"
        ></p>
        <!-- <v-btn text color="primary" id="ShowWhatsapPage" class="text-capitalize appHidden" @click="sortSection('sendCodeWhatsappFrame', ['SendCodeSms', 'verifyCodeFrame', 'sendCodeCallFrame'])">
           Verify via Whatsapp 
        </v-btn> -->
        <v-btn text color="primary" id="ShowCodeCallPage" class="text-capitalize appHidden" @click="sortSection('sendCodeCallFrame', ['SendCodeSms', 'verifyCodeFrame', 'verifyCodeFrame', 'sendCodeWhatsappFrame'])">
           Verify via a call 
        </v-btn>
        <v-btn
          color="primary"
          class="white--text text-capitalize"
          depressed
          rounded
          large
          block
          :loading="isLoading"
          :disabled="isLoading || code.length < 6"
          @click="Verify"
          >Verify</v-btn
        >
      </v-col>

      <v-col md="4" class="text-center appHidden" id="sendCodeWhatsappFrame">
        <v-img src="@/assets/whatsapp.svg" width="70" class="ma-auto mb-2"></v-img>
        <h3 class="title-1 text-center mb-1">
          Didn’t get the sms? Verify via WhatsApp
        </h3>
        <p style="font-size: 14px; margin: 0">
          Click the button below to get the code on Whatsapp.
        </p>
        <div class="mt-1">
          <v-btn
            depressed
            rounded
            large
            block
            color="primary"
            class="text-capitalize font-weight-normal"
            @click="SendWhatsapp()"
            :disabled="whatsappDisabled"
            >Send code to Whatsapp</v-btn
          >
          <p
            style="
              font-size: 16px;
              font-weight: normal;
            "
            id="whatsappCodeTimer"
             class="primary--text"
          ></p>
          <v-btn text color="primary" id="ShowCodeCallPage" class="text-capitalize appHidden" @click="sortSection('sendCodeCallFrame', ['SendCodeSms', 'verifyCodeFrame', 'verifyCodeFrame', 'sendCodeWhatsappFrame'])">
           Verify via a call 
        </v-btn>

        </div>
      </v-col>

      <v-col md="4" class="text-center appHidden" id="sendCodeCallFrame">
        <v-img src="@/assets/phone.svg" width="50" class="ma-auto mb-2"></v-img>
        <h3 class="title-1 text-center mb-1">
          Still didn’t get the code? Verify via missed call
        </h3>
        <p style="font-size: 14px; margin: 0">
         Click the button below to initiate a call. Once you get the “user busy” tone, you have been verified. 
         <br>
         Please return to this screen to complete your registration afterwards.
        </p>
        <div class="mt-2">
          <p
            style="
              font-size: 14px;
              margin: 0;
              color: #282828;
              font-weight: normal;
            "
            id="callCodeTimer"
          ></p>
          
          <v-btn
            depressed
            rounded
            large
            block
            color="primary"
            class="text-capitalize font-weight-normal"
            @click="callVerify()"
            :loading="isCalling"
            :disabled="isCalling"
            >Call to verify</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts" src="./VerifyPhone.vue.ts"></script>
<style lang="scss" scoped>
.phone_input {
  margin: 0 auto !important;
  border: 0px solid red;
}
.appHidden {
  display: none;
}
</style>
