<template>
   <div>
    <v-card color="primary" flat tile>
      <v-container fluid class="py-2" height="100vh">
        <v-row class="justify-center align-center">
          <v-col md="4" cols="12">
            <v-row>
              <v-col md="12" sm="12" class="d-flex" style="flex-direction:column">
                <v-card class="flex-grow-1 px-10 py-12">
                  <h1 class="title text-left">Reset Password</h1>
                  <h1
                    class="subtitle-1 text-left"
                  >Fill out the form below to reset your password</h1>

                  <v-alert
                    color="#C82A06"
                    dark
                    icon="mdi-cancel"
                    border="left"
                    dismissible
                    v-model="showAlert"
                    v-if="hasError"
                  >{{ errorMessages }}</v-alert>

                  <form class="mt-10">

                      <v-text-field
                        v-model="email"
                        type="email"
                        color="primary"
                        label="Email Address"
                        :error-messages="emailErrors"
                        @input="$v.email.$touch()"
                        @blur="$v.email.$touch()"
                      ></v-text-field>

                      <v-text-field
                        v-model="password"
                        type="password"
                        color="primary"
                        label="Password"
                        :error-messages="passwordErrors"
                        @input="$v.password.$touch()"
                        @blur="$v.password.$touch()"
                      ></v-text-field>

                      <v-text-field
                        v-model="confirm_password"
                        type="password"
                        color="primary"
                        label="Confirm Password"
                        :error-messages="confimPasswordErrors"
                        @input="$v.confirm_password.$touch()"
                        @blur="$v.confirm_password.$touch()"
                      ></v-text-field>
                      <v-btn
                        color="primary"
                        class="white--text"
                        rounded
                        depressed
                        block
                        large
                        @click="submit"
                        :loading="isLoading"
                        :disabled="isLoading"
                      >Reset Password</v-btn>
                  </form>

                  <v-row align="center" justify="center">
                    <v-col md="12" sm="12" xs="12">
                      <div class="mt-0 mb-2 text-center" color="primary">
                        Remembered your password?
                        <router-link
                          :to="{name: 'Login'}"
                          class="font-weight-bold primary--text"
                        >Sign In</router-link>
                      </div>
                    </v-col>
                  </v-row>

                </v-card>
              </v-col>
            </v-row>
          </v-col>
          <v-col md="4" cols="12" class="hidden-md-and-down">
              <v-spacer></v-spacer>
            <v-img src="/images/illus/reset-password.svg" class="ml-12"></v-img>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>
<script lang="ts" src="./ResetPassword.vue.ts"></script>
