<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>Discover freebies from top brands - Hazina</title>
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <meta name="title" content="Discover freebies from top brands - Hazina" />
    <meta
      name="description"
      content="Everyone loves to try new things, especially if they are free. Hazina curates free offers from leading brands and matches you with only those that fit you perfectly. Happiness is just a Hazina box away"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gethazina.com" />
    <meta property="og:title" content="Discover freebies from top brands" />
    <meta
      property="og:description"
      content="Everyone loves to try new things, especially if they are free. Hazina curates free offers from leading brands and matches you with only those that fit you perfectly. Happiness is just a Hazina box away"
    />
    <meta
      property="og:image"
      content="https://graphs.gethazina.com/hazina-seo.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://gethazina.com" />
    <meta
      property="twitter:title"
      content="Discover freebies from top brands"
    />
    <meta
      property="twitter:description"
      content="Everyone loves to try new things, especially if they are free. Hazina curates free offers from leading brands and matches you with only those that fit you perfectly. Happiness is just a Hazina box away"
    />
    <meta
      property="twitter:image"
      content="https://graphs.gethazina.com/hazina-seo.png"
    />

    <script type="application/ld+json">
      {
        "@context": "https:\/\/schema.org",
        "@type": "WebPage",
        "name": "Hazina - Discover freebies from top brands",
        "description": "Everyone loves to try new things, especially if they are free. Hazina curates free offers from leading brands and matches you with only those that fit you perfectly. Happiness is just a Hazina box away",
        "image": "http:\/\/gethazina.com\/images\/hazina-seo.png"
      }
    </script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"> -->

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NPDFLJK");
    </script>
    <!-- End Google Tag Manager -->

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
    <script src="https://duphlux.com/webservice/js/inline.js"></script>
    <script>
      window.intercomSettings = {
        app_id: "inyvi6up",
      };
    </script>

    <script>
      // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/inyvi6up'
      (function () {
        var w = window;
        var ic = w.Intercom;
        if (typeof ic === "function") {
          ic("reattach_activator");
          ic("update", w.intercomSettings);
        } else {
          var d = document;
          var i = function () {
            i.c(arguments);
          };
          i.q = [];
          i.c = function (args) {
            i.q.push(args);
          };
          w.Intercom = i;
          var l = function () {
            var s = d.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://widget.intercom.io/widget/inyvi6up";
            var x = d.getElementsByTagName("script")[0];
            x.parentNode.insertBefore(s, x);
          };
          if (w.attachEvent) {
            w.attachEvent("onload", l);
          } else {
            w.addEventListener("load", l, false);
          }
        }
      })();
    </script>
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >

      <!-- Google Tag Manager (noscript) -->
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NPDFLJK"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
      <!-- End Google Tag Manager (noscript) -->
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
