<template>
  <v-container>
    <v-row class="justify-center">
      <v-col md="8" class="text-left">
        <h2 style="text-align: left">
          <span style="color: #f5a72b"><strong>Privacy Policy</strong></span>
        </h2>
        <p style="text-align: left">
          <strong>Effective Date: May 6, 2020</strong>
        </p>
        <p style="text-align: left">
          <strong>Last Updated: November 16, 2020</strong>
        </p>
        <p style="text-align: left">
          At HAZINA, accessible from
          <span style="color: #ff6600"
            ><a
              style="color: #f5a72b"
              title="Hazina"
              href="https://gethazina.con"
              target="_blank"
              rel="noopener"
              >gethazina.com</a
            ></span
          >, one of our main priorities is the privacy of our visitors. This
          Privacy Policy document contains types of information that is
          collected and recorded by HAZINA and how we use it.
        </p>
        <p style="text-align: left">
          If you have additional questions or require more information about our
          Privacy Policy, do not hesitate to contact us. This Privacy Policy
          applies only to our online activities and is valid for visitors to our
          website with regards to the information that they shared and/or
          collect on HAZINA. This policy is not applicable to any information
          collected offline or via channels other than this website.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>CONSENT</strong></p>
        <p style="text-align: left">
          By using our website, you hereby consent to our Privacy Policy and
          agree to its terms.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left">
          <strong>INFORMATION COLLECTION &amp; USE</strong>
        </p>
        <p style="text-align: left">
          In order to facilitate the sending and receiving of samples, gift
          cards, coupons, or online coupon codes from, and applicable to
          products and/or services provided by, our partner merchants/brands via
          the software or relevant Hazina or partner applications, Social Media
          or Web pages, we collect personal data you provide when you create or
          login to your Hazina account. This may include information directly
          provided by you, or provided via your authorization of social login.
          Such information includes your name, social media name, social media
          ID, city-level location, e-mail address, gender, age, and number of
          social media friends and followers. We may also collect your Twitter
          handle or other social media ID, social media profile picture or
          avatar. We collect your shipping address to send your samples to you,
          and also your phone number, to provide you with transactional
          notifications and to authenticate your account. We may also send such
          notifications to you via WhatsApp. We collect other brand- or
          product-related information such as your child&rsquo;s age, if you
          provide that information.
        </p>
        <p style="text-align: left">
          For the reasons outlined above, we also track areas of interest,
          including: the types of offers that interest you; campaigns you
          participate in; newsletters you subscribe to; information about
          friends who refer you or whom you refer; information about how you
          interact with Hazina or the Sites, such as the products or services
          you view or share; how you interact with us, our partners, and
          friends; and the pages and other accounts you follow on social media.
        </p>
        <p style="text-align: left">
          We also collect information related to contact you may have with us or
          our partners via telephone, email, text, postal mail, social media
          interaction, or other methods of communication, for reasons such as
          customer support.
        </p>
        <p style="text-align: left">
          We may also collect personal data from time to time through other
          communications with you, survey responses, information downloads,
          product or service purchases or sharing, and user support, to allow
          you to provide feedback on our offerings and improve our services to
          you.
        </p>
        <p style="text-align: left">
          We use cookies on our website to collect personal data, such as your
          Internet Protocol (IP) address, as well as information about your
          operating system, browser type, the address of a referring site and
          your usage information. We use such information to better understand
          how you interact with our services, while monitoring traffic to our
          services, with the aim of improving our services. You can disable
          cookies with your browser settings, however, that may affect
          Hazina&rsquo;s website functionality. For more general information on
          cookies, please read "<span style="color: #ff6600"
            ><a
              style="color: #f5a72b"
              href="https://www.cookieconsent.com/what-are-cookies/"
              ><u>What Are Cookies</u></a
            ></span
          >".
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left">
          <strong>INFORMATION SHARING &amp; DISCLOSURE</strong>
        </p>
        <p style="text-align: left">
          We will not transfer your Personal Information to third parties
          without your permission, except for the following.
        </p>
        <p style="text-align: left">
          We share with our partners anonymized statistics pertaining to the
          types of users using the Software and Sites and their general
          behaviour.
        </p>
        <p style="text-align: left">
          With your express consent, we may also share your name, city-level
          location, shipping address, age and gender, social media IDs such as
          Facebook ID and Twitter handle, email address, phone number, and
          information on your participation in any campaigns, offers and
          newsletter subscriptions with any current Partners at their request.
        </p>
        <p style="text-align: left">
          In addition, we may send your Personal Information to other companies
          or people under any of the following circumstances:
        </p>
        <ul style="text-align: left">
          <li>when we have your consent to share the information; or</li>
          <li>
            we need to send the information to companies who work on our behalf
            (who are not Partners) to provide a product or service to you In
            such cases we enter into data protection agreements with our service
            providers to ensure that your personal data is protected to the same
            level of protection we offer. We will only provide those companies
            the information they need to deliver the service, and they are
            prohibited from using that information for any other purpose.
          </li>
        </ul>
        <p style="text-align: left">
          We may also transfer your Personal Information without your permission
          to the extent required to do so by law or in the good faith belief
          that such action is necessary to: (i) comply with legal obligations;
          (ii) protect or defend our rights or property; (iii) act in urgent
          circumstances to protect the personal safety, property, or privacy of
          our employees, users, or members of the public; or (iv) affect a
          transaction, restructuring or proceeding that transfers to a third
          party the assets or line of business to which the information
          pertains.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left">
          <strong>ACCESSING YOUR INFORMATION</strong>
        </p>
        <p style="text-align: left">
          You may request that we disclose Personal Information that we collect,
          use, and disclose about you. You also have the right to not receive
          discriminatory treatment for exercising your access right. To submit a
          request or designate an authorized agent to make a request, please
          contact us at
          <span style="color: #ff6600"
            ><a
              style="color: #ff6600"
              title="Hazina"
              href="mailto:admin@hazina.ng"
              target="_blank"
              rel="noopener"
              >admin@hazina.ng</a
            ></span
          >.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left">
          <strong>CHANGING OR DELETING YOUR INFORMATION</strong>
        </p>
        <p style="text-align: left">
          You have the right to request that we delete your Personal
          Information, subject to some exceptions. You may also request that we
          update or correct your Personal Information. Once we have received and
          confirmed your request, we will delete or correct (and direct our
          service providers to delete or correct) your Personal Information,
          unless an exception applies. You have the right to not receive
          discriminatory treatment for exercising your deletion right. To submit
          a request or designate an authorized agent to make a request, please
          contact us at admin@hazina.ng.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>DO NOT TRACK</strong></p>
        <p style="text-align: left">
          Some devices and browsers support a &ldquo;Do Not Track&rdquo;
          feature, a setting which is used as a signal to services that you do
          not wish to be tracked across different websites or online services
          you visit. Our website does not currently change the way it operates
          upon detection of a Do Not Track or similar signals. Please note that
          we cannot control how third-party websites or online services you
          visit through our website respond to Do Not Track signals. Check the
          privacy policies of those third parties for more information.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>DATA SECURITY</strong></p>
        <p style="text-align: left">
          Your Personal Information is protected for your privacy and security.
          We safeguard the security and confidentiality of your data using
          physical, technical, and managerial procedures.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>INTERNATIONAL TRANSFER</strong></p>
        <p style="text-align: left">
          Your information may be transferred to, and maintained on, computers
          located outside of your jurisdiction, where the privacy laws may not
          be as protective as those in your jurisdiction. Hazina stores in the
          cloud and processes personal data in Nigeria, and may also transfer
          Personal Information to other countries. When such transfer occurs, we
          enter into contractual agreements with our suppliers that ensure
          compliance with data protection legislation at a compatible level of
          protection.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>PROTECTION OF MINORS</strong></p>
        <p style="text-align: left">
          Our services are not for children under the age of 16 and children
          under the age of 16 are not permitted to register for, or use, Hazina.
          We do not knowingly collect Personal Information from children under
          16 years of age. Individuals under the age of 16 should only use our
          services with the permission and under the supervision of a parent or
          guardian. Individuals under the age of 16 should not attempt to
          provide us with any Personal Information. If you think we have
          received Personal Information from children under the age of 16,
          please contact us immediately.
        </p>
        <p style="text-align: left">&nbsp;</p>
        <p style="text-align: left"><strong>CONTACT INFORMATION</strong></p>
        <p style="text-align: left">
          If you have any questions, comments or concerns please contact us
          electronically at
          <span style="color: #f5a72b"
            ><a
              style="color: #ff6600"
              title="Hazina"
              href="mailto:admin@hazina.ng"
              target="_blank"
              rel="noopener"
              >admin@hazina.ng</a
            ></span
          >. For your protection, we may need to verify your identity before
          assisting with your request, such as verifying that the information
          used to contact us matches the information that we have on file.
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts" src="./Privacy.vue.ts"></script>
<style lang="scss" scoped>
</style>
