<template>
  <div>
   <v-card color="primary" flat tile>
      <v-container fluid class="py-2" height="100vh">
        <v-row class="justify-center align-center">
          <v-col md="4" cols="12">
            <v-row>
              <v-col md="12" sm="12" class="d-flex" style="flex-direction:column">
                <v-card class="flex-grow-1 px-10 py-12">
                  <h1 class="title text-left">Welcome!</h1>
                  <h1 class="subtitle-1 text-left">Fill out your password to login and claim your freebie before your friends do</h1>

                 <v-alert
                    color="#C82A06"
                    dark
                    icon="mdi-cancel"
                    border="left"
                    dismissible
                    v-model="showAlert"
                    v-if="hasError"
                  >{{ errorMessages }}</v-alert>

                  <form class="mt-10">

                    <v-text-field
                      v-model="password"
                      prepend-icon="mdi-account-key-outline"
                      type="password"
                      color="primary"
                      label="Password"
                      :error-messages="passwordErrors"
                      @input="$v.password.$touch()"
                      @blur="$v.password.$touch()"
                    ></v-text-field>

                    <v-text-field
                      v-model="confirm_password"
                      prepend-icon="mdi-account-key-outline"
                      type="password"
                      color="primary"
                      label="Confirm Password"
                      :error-messages="confimPasswordErrors"
                      @input="$v.confirm_password.$touch()"
                      @blur="$v.confirm_password.$touch()"
                    ></v-text-field>

                    <v-btn
                      color="primary"
                      class="white--text app-text-btn mt-2 text-capitalize"
                      rounded
                      block
                      large
                      depressed
                      @click="submit"
                      :loading="isLoading"
                      :disabled="isLoading"
                    >Submit</v-btn>
                  </form>

                  <v-row align="center" justify="center">
                    <v-col md="12" sm="12" xs="12">
                      <div class="mt-0 mb-2 text-center" color="primary">
                       <v-btn text color="primary">Resend Link</v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
          <v-col md="5" cols="12" class="text-center hidden-md-and-down">
            <v-img src="@/assets/images/illus/signup.svg" class="ma-auto"></v-img>
          </v-col>
        </v-row>
      </v-container>
      <!-- <div style="height:100px;"></div> -->
    </v-card>

  </div>
</template>

<script lang="ts" src="./ClientCreatePasswordVerifiedEmail.vue.ts"></script>

