<template>
<div>
    <v-app-bar app color="primary" class="px-md-12">
      <router-link :to="{name: 'Home'}">
        <img src="@/assets/images/logo-white.png" width="100" class />
      </router-link>
      <v-spacer></v-spacer>

      <v-btn
        text
        :to="{name: 'Home'}"
        class="hidden-xs-only white--text"
        exact
        active-class="white--text"
        small
      >Home</v-btn>
    
      <v-btn :to="{name: 'Login'}" exact color="white" depressed small class="ml-2 primary--text">Login</v-btn>
      <v-btn :to="{name: 'Register'}" exact color="secondary" depressed small class="ml-2 white--text">Register</v-btn>
    </v-app-bar>
      <v-main>
        <router-view></router-view>
    </v-main>
    
    <v-footer light color="#EEEEEE" class="font-weight-medium">
      <v-col class="text-center" cols="12">
        © Copyrights {{ new Date().getFullYear() }} —
        <strong>Hazina,</strong> All rights reserved.
      </v-col>
    </v-footer>

</div>
</template>

<script>
export default {

}
</script>

<style>

</style>