<template>
   <v-row class="justify-center align-center">
            <v-col md="6 text-center">
                <v-img :src="image" width="250" class="ma-auto"></v-img>
                <h2 class="title">{{ title }}</h2>
                <p class="body-1" v-if="subtitle.length">{{ subtitle }}</p>
                <v-btn depressed color="primary" :to="{name: route }">{{ buttonText }}</v-btn>

            </v-col>
        </v-row>
</template>

<script lang="ts" src="./OnboardScreen.vue.ts"></script>

